<div class="row">
        <div class="card col-sm-2" *ngIf="userDetails">
                <strong>{{userDetails.username}}</strong>
                <p class="title">{{userDetails.name}}</p>
                <p>{{userDetails.surname}}</p>
                
        </div>
<div class="col-10">
        <table class="table table-bordered">
                <thead>
                        <tr>
                            <th scope="col"> Name</th>
                            <th scope="col">Surname</th>
                            <th scope="col">UserName</th>
            
                        </tr>
                </thead>
                <tbody>
                        <tr *ngFor="let t of service.list">
                                <td >{{t.name}}</td>
                                <td >{{t.surname}}</td>
                                <td (click)="updateForm(t)">{{t.username}}</td>
                        </tr>
                </tbody>
        </table>
</div>
</div>