<div class="row">
    <div class="card col-sm-2" *ngIf="userDetails || userSuccess">
            <i class="fas fa-user fa-10x"></i>        
            <strong>{{userDetails.username}}</strong>
            <p class="title">{{userDetails.name}}</p>
            <p>{{userDetails.surname}}</p>
            <p>{{userDetails.email}}</p>           
            <p>{{userSuccess}}</p>
            
            <ul>
                <li class="fas fa-star inline" *ngFor="let item of [].constructor(userSuccess); let i=index"></li>
            </ul>
                            
    </div>
    <div class="col-10">
            <form #form ="ngForm" (submit)="onSubmit(form)" autocomplete="off">
                    <title>Create announcement</title>

                    <div class="form-group">
                            <label>Description</label>
                            <input type="text" name="description" #name="ngModel" [(ngModel)]="service.announcement.description" class="form-control" required>      
                
                    </div>
                    
                        
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-lg btn-block" >SUBMIT</button>
                    </div>
                </form>
    </div>
</div>