<table class="table table-bordered">
    <thead>
            <tr>
                <th scope="col"> Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Email</th>
                <th scope="col">Actions</th>

            </tr>
    </thead>
    <tbody>
            <tr *ngFor="let t of service.list">
                    <td (click)="updateForm(t)">{{t.name}}</td>
                    <td (click)="updateForm(t)">{{t.surname}}</td>
                    <td (click)="updateForm(t)">{{t.email}}</td>
                    <td><button class="btn btn-sm btn-outline-danger"(click)="onDelete(t.id)">Delete</button></td>
            </tr>
    </tbody>
</table>