<form #form ="ngForm" (submit)="onSubmit(form)" autocomplete="off">
    <input type="hidden" name="id" value="service.formData.id">
    <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" #name="ngModel" [(ngModel)]="service.formData.name" class="form-control" required>      
            <!-- <div class="validation-error" *ngIf="name.invalid && name.touched">This field is required</label> -->

        </div>
    <div class="form-group">
            <label>Surname</label>
            <input type="surname" name="surname" #surname="ngModel" [(ngModel)]="service.formData.surname" class="form-control" required>      
            <!-- <div class="validation-error" *ngIf="surname.invalid && surname.touched">This field is required</label> -->
        </div>
    <div class="form-group">
            <label>Username</label>
            <input type="username" name="username" #username="ngModel" [(ngModel)]="service.formData.username" class="form-control">      
    </div>
    <div class="form-group">
            <label>Email</label>
            <input type="email" name="email" #email="ngModel" [(ngModel)]="service.formData.email" class="form-control" required>
    </div>
    <div class="row">
         
                <div class="form-group col-md-6">
                    <label>Password</label>
                    <input type="password" name="password" #password="ngModel" [(ngModel)]="service.formData.password" class="form-control">
                </div>
                <div class="form-group col-md-6">
                    <label>Confirm Password</label>
                    <input type="password" name="confirmPassword" #confirmPassword="ngModel" [(ngModel)]="service.formData.confirmPassword" class="form-control">
            </div>
    </div>
    <div class="form-group">
        <button type="submit"[disabled]="form.invalid" class="glyphicon glyphicon-save btn btn-primary btn-lg btn-block" >
            SUBMIT</button>
    </div>
</form>