<div class="row">
        <div class="card col-sm-2" *ngIf="userDetails || userSuccess">
                <strong>{{userDetails.username}}</strong>
                <p class="title">{{userDetails.name}}</p>
                <p>{{userDetails.surname}}</p>
                <p>{{userDetails.email}}</p>           
                <p>{{userSuccess.total}}</p>
                
                <ul>
                    <li class="fas fa-star inline" *ngFor="let item of [].constructor(userSuccess); let i=index"></li>
                </ul>
                               
        </div>
        <div class="col-10">
                <form #form ="ngForm" (submit)="onSubmit(form)" autocomplete="off">
                        <div class="form-group">
                                <label>Material Answer</label>
                                <input type="text" name="answer" #name="ngModel" [(ngModel)]="service.fd.answer" class="form-control" required>      
                    
                            </div>
                        <div class="form-group">
                            <button type="submit"[disabled]="form.invalid" class="btn btn-primary btn-lg btn-block" >SUBMIT</button>
                        </div>
                    </form>
        </div>
</div>