<div class="row">
    <div class="card col-sm-2">
            <i class="fas fa-user fa-10x"></i>        
            <p class="title" *ngIf="userDetails">{{userDetails.name}}</p>
            <p *ngIf="userDetails">{{userDetails.surname}}</p>
            <p *ngIf="userDetails">{{userDetails.email}}</p>           
            <p *ngIf="success">{{success.total}}</p>
            <ul *ngIf="success">
                <li class="fas fa-star inline" *ngFor="let item of [].constructor(success.star); let i=index"></li>
            </ul>
                            
    </div>
    <div class="col-10">
        <div *ngFor="let class of classes">
            <h4>Class: {{class.course}}</h4>
            <table class="table table-bordered">
                <thead>
                    <tr class="list">
                        
                        <th scope="col">Description</th>
                        <th scope="col">Creation Time</th>
                        <th scope="col">Comments</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let announcement of class.announcements; let i = index" class="list">
                      
                    <td>{{announcement.description}}</td>
                    <td>{{announcement.creationTime | date}}</td>
                    <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="setAnnouncementId(announcement.id)">
                    Comments
                      </button></td>
                        
                    </tr>
                </tbody>     
            </table>
        </div>
    </div> 
</div>
<app-comment></app-comment>