<div class="row">
    <div class="card col-sm-2" *ngIf="userDetails || success">
            <i class="fas fa-user fa-10x"></i>        
            <strong>{{userDetails.username}}</strong>
            <p class="title">{{userDetails.name}}</p>
            <p>{{userDetails.surname}}</p>
            <p>{{userDetails.email}}</p>           
            <p>{{success}}</p>
            <ul>
                <li class="fas fa-star inline" *ngFor="let item of [].constructor(success); let i=index"></li>
            </ul>
                            
    </div>
    <div class="col-10">
        <div *ngFor="let class of classes">
            <label>Class: {{class.course}}</label>
            <table class="table table-bordered">
                <thead>
                    <tr class="list">
                        
                        <th scope="col">Description</th>
                        <th scope="col">Creation Time</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let announcement of class.announcements; let i = index" class="list">
                      
                    <td>{{announcement.description}}</td>
                    <td>{{announcement.creationTime | date}}</td>
                    <td><button class="btn btn-lg btn-outline-primary" (click)="open()">Comment</button></td>
                    
                    
                        
                    </tr>
                </tbody>     
            </table>
        </div>
    </div> 
</div>