<div class="row">
    <div class="card col-sm-2" *ngIf="userDetails || success">
            <i class="fas fa-user fa-10x"></i>        
            <strong>{{userDetails.username}}</strong>
            <p class="title">{{userDetails.name}}</p>
            <p>{{userDetails.surname}}</p>
            <p>{{userDetails.email}}</p>           
            <p>{{success.total}}</p>
            <ul>
                <li class="fas fa-star inline" *ngFor="let item of [].constructor(success); let i=index"></li>
            </ul>              
    </div>
    
        <div class="col-10" >
            <div class="row">
                <div class="col-4">
                    <h1 *ngIf="success">{{success}}</h1>
                    <p>Given Classes</p>
                    <p><ngb-progressbar type="success" value="${{success}}">{{success.total}}</ngb-progressbar></p>
                </div>
                <div class="col-4">
                    <h1 *ngIf="stdCount">{{stdCount}}</h1>
                    <p>Number of Student</p>
                    <p><ngb-progressbar type="primary" value="${{stdCount}}">{{stdCount}}</ngb-progressbar></p>
                </div>
                <div class="col-4">
                    <h1 *ngIf="materialCount">{{materialCount.count}}</h1>
                    <p>Given Tasks</p>
                    <p><ngb-progressbar type="info" value="${{materialCount}}">{{materialCount}}</ngb-progressbar></p>

                </div>
            </div>
    </div>
</div>