/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body{
    padding-top: 80px
}
input.ng-invalid.ng-dirty{
border-bottom-color: #e91e63 !important;
box-shadow: 0 1px 0 0  #e91e63 !important;
}
.data-error{

    color: #e91e63;
}