<div class="jumbotron jumbotron-odi-hero bg-primary">
        <div class="jumbotron-overlay ">
            <div class="container jumbotron-padding  text-center">
                <h1 class="display-4">It's time to start investing to yourself!.</h1>
               <p>
                  <a  class="btn btn-lg btn-success btn-circle my-4 mr-3">Start coding now!</a>
               </p>
            </div>
        </div>
</div>

<div class="row text-center mt-5">
        <div class="col-6">
         <div class="card shadow">
           <div class="card-body">
           <div class="py-3 text-center"> <i class="fas fa-rocket card-img-top fa-4x text-primary" aria-hidden="true"></i></div>
           <div class="card-body">
             <h4 class="card-title">    
                 <ol type="1">
                    <li>Sign in to the System</li>
                    <li>Find a Classroom</li>
                    <li>Do practice</li>
                    <li>Do your assignment</li>
                    <li>Collect points!</li>
                </ol>
            </h4>
            </div>
           </div>
         </div>
         </div>
           <div class="col-6">
          <div class="card shadow">
           <div class="card-body">
            <div class="py-3 text-center"><i class="fas fa-feather card-img-top fa-4x text-primary" aria-hidden="true"></i></div>
           <div class="card-body">
             <h4 class="card-title">Popular Classroom
             <ol type="1">
              <li>Basic Python</li>
              <li>C</li>
              <li>Intermediate C</li>
              <li> </li>
              <li> </li>
              
          </ol>
        </h4>
            </div>
           </div>
         </div>
         </div>
</div>
           
      