<div class="row">
        <div class="card col-sm-2" *ngIf="userDetails || success">
                <i class="fas fa-user fa-10x"></i>        
                <strong>{{userDetails.username}}</strong>
                <p class="title">{{userDetails.name}}</p>
                <p>{{userDetails.surname}}</p>
                <p>{{userDetails.email}}</p>           
                <p>{{success}}</p>
                <ul>
                    <li class="fas fa-star inline" *ngFor="let item of [].constructor(success); let i=index"></li>
                </ul>
                               
        </div>
    <div class="col-10">
        <form #form ="ngForm" (submit)="onSubmit(form)" autocomplete="off">
                <label>Given classroom</label>
                <div class="form-group">
                    <select class="form-control" name="givenClassroomId" [(ngModel)]="service.formData.givenClassroomId">
                            <option value="0">Select</option>
                            <option *ngFor="let item of classroom" value="{{item.id}}">{{item.description}}</option>
                    </select>
                </div>
                   
                <div class="form-group">
                        <label>Material Type</label>
                        <input type="text" name="materialType" #surname="ngModel" [(ngModel)]="service.formData.materialType" class="form-control" >      
                        <!-- <div class="validation-error" *ngIf="surname.invalid && surname.touched">This field is required</label> -->
                </div>
                <div class="form-group">
                        <label>Material Scale</label>
                        <input type="text" name="materialScale" #surname="ngModel" [(ngModel)]="service.formData.materialScale" class="form-control" >      
                        <!-- <div class="validation-error" *ngIf="surname.invalid && surname.touched">This field is </label> -->
                </div>
                <div class="form-group">
                        <label>Description</label>
                        <input type="text" name="description" #surname="ngModel" [(ngModel)]="service.formData.description" class="form-control" >      
                        <!-- <div class="validation-error" *ngIf="surname.invalid && surname.touched">This field is required</label> -->
                </div>
                <div class="form-group">
                        <label>Question</label>
                        <div class="row col-12">
                                <input type="text" id="questionTextInput" name="question" #question="ngModel" [(ngModel)]="questionText" class="col-10 form-control" >
                                <div class="col-2">
                                        <button type="button" class="btn btn-primary" (click)="addQuestion()">Add</button>
                                </div>
                        </div>
                        <div class="card" style="padding: 12px; background-color: #eaeaea; margin-top: 7px">{{service.formData.question}}</div>
                        <!-- <div class="validation-error" *ngIf="surname.invalid && surname.touched">This field is required</label> -->
                </div>
                <div class="form-group">
                        <label>Hint</label>
                        <input type="text" name="hint" #hint="ngModel" [(ngModel)]="service.formData.hint" class="form-control" >      
                        <!-- <div class="validation-error" *ngIf="surname.invalid && surname.touched">This field is required</label> -->
                </div>
                <div class="form-group">
                        <label>Deadline</label>
                        <input type="date" name="deadline" #deadline="ngModel" [(ngModel)]="service.formData.deadline" class="form-control" >      
                        <!-- <div class="validation-error" *ngIf="surname.invalid && surname.touched">This field is required</label> -->
                </div>
                
                <div class="form-group">
                    <button type="submit"[disabled]="form.invalid" class="btn btn-primary btn-lg btn-block" >SUBMIT</button>
                </div>
            </form>
    </div>
        
</div>