<div class="row">
    <div class="card col-sm-2" *ngIf="userDetails || stdSuccess">
            <i class="fas fa-user fa-10x"></i>        
            <strong>{{userDetails.username}}</strong>
            <p class="title">{{userDetails.name}}</p>
            <p>{{userDetails.surname}}</p>
            <p>{{userDetails.email}}</p>           
            <p>{{stdSuccess.total}}</p>
            <ul>
                <li class="fas fa-star inline" *ngFor="let item of [].constructor(stdSuccess.star); let i=index"></li>
            </ul>              
    </div>
    
        <div class="col-10" >
            <div class="row">
                <div class="col-4">
                    <h1 *ngIf="stdSuccess">{{stdSuccess.total}}</h1>
                    <p>Taken Classroom</p>
                    <p><ngb-progressbar type="success" value="${{stdSuccess.total}}">{{stdSuccess.total}}</ngb-progressbar></p>
                </div>
                <div class="col-4">
                    <h1 *ngIf="joinedCount">{{joinedCount}}</h1>
                    <p>Tasks</p>
                    <p><ngb-progressbar type="primary" value="${{joinedCount}}">{{joinedCount}}</ngb-progressbar></p>
                </div>
                <div class="col-4">
                    <h1 *ngIf="doneMaterialCount">{{doneMaterialCount.count}}</h1>
                    <p>Done Tasks</p>
                    <p><ngb-progressbar type="info" value="${{doneMaterialCount.count}}">{{doneMaterialCount.count}}</ngb-progressbar></p>

                </div>
            </div>
    </div>
</div>