<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Comments</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form #form ="ngForm" autocomplete="off">
            <div class="modal-body">
                <div>
                    <p *ngFor="let comment of comments; trackBy:identify">
                      {{comment.description}} <br>
                      {{comment.user}}
                    </p>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <input type="text" name="description" #description="ngModel" [(ngModel)]="comment.comment.description" class="form-control" >      
                    <input type="hidden" name="announcementId" #announcementId="ngModel" [(ngModel)]="comment.comment.announcementId" class="form-control" >      
                </div>               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="onSubmit(form)">Save changes</button>
            </div>
        </form>
      </div>
    </div>
  </div>